[build]
target = "x86_64-unknown-none"

[target.x86_64-unknown-none]
rustflags = [
	"-C", "link-arg=-Tlinker.ld",
    "-C", "link-arg=-nostdlib",
   	"-C", "link-arg=-Wl,--gc-sections",  # Удаление неиспользуемых секций
    "-C", "link-arg=-Wl,--strip-all",    # Полное удаление символов
]
